body {
  background-color: #ffffff;
}
:root {
  --white: #ffffff;
  --light-grey: hsl(195, 12%, 94%);
  --violet: #ec5656;
  --dark-violet: #dc7777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  max-width: 100%;
  background: #ec5656;
  width: 100%;
  bottom: 0;
  height: 55px;
}

.btn-add {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  background: var(--violet);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
  color: #ffffff;
  font-size: 3.5rem;
}

.btn-add:hover {
  background: var(--dark-violet);
}
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 8px;
}

.input-box {
  flex: 1;
  border: none;
  padding: 8px;
  outline: none;
  font-family: 'Atma', cursive;
}

.search-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f3f4f7;
  box-shadow: #d5d6dc;
}
.card:hover  {
  background-color: #aeaeae;
}

.scroll-bar {
  height: 500px;
  overflow: scroll;
}
.scroll-bar-main {
  overflow: auto;
  height: 605px;
}

.progress-container-main {
  width: 90%;
  background-color: #eee;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.progress-container-modal {
  width: 70%;
  background-color: #eee;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #f3701a;
  border-radius: 10px;
  transition: width 0.5s;
}
.btn-add-card {
  text-align: center;
  color: #dc7777;
  cursor: pointer;
}
.image-main {
  width: 120px;
  height: 180px;
}
.image-modal {
  width: 170px;
  height: 200px;
  text-align: center;
}
.happiness-sizer-main {
  width: 20px;
  height: 20px;
}
.happiness-sizer-modal {
  width: 35px;
  height: 35px;
}
.label-name {
  font-size: 1em;
}
